@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


.darkmodeelements {
  background-color: hsl(208, 23%, 22%);
}

.lightmodeelements {
  background-color: hsl(0, 0%, 100%);
}

.darkmodebg {
  background-color: hsl(207, 26%, 17%);
}

.lightmodetext {
  color: hsl(200, 15%, 8%);
}

.darkmodetext {
  color: hsl(0, 0%, 100%);
}

.lightmodeinput {
  background-color: hsl(0, 0%, 52%);
}

.lightmodebg {
  background-color: #fafafa;
}


  .root-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure it covers the full viewport height */
   /* Adjust for dark background */
  }

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
